coliee_dataset/
Legal Case Retrieval/筆記.docx
Legal Case Retrieval/~$筆記.docx
THUIR-COLIEE2023-flowchart.drawio
modernBERT_contrastive/
modernBERT_contrastive_noprojector/
Legal Case Retrieval/results/experiment_results.csv
# 忽略 Python 編譯檔
__pycache__/
*.pyc
*.pyo
*.pyd
# vscode
.vscode/
# AI
.codeiumignore
.cursorignore